{% extends 'gp/base.html' %}

{% block content %}

    <div class="container" id="home-section">
        <header class="mb-5 display-4">
            <b>Please login with your email address.</b>
        </header>
        {% if form.errors %}
                <p class="text-danger">Incorrect email. Please try again.</p>
            {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p class="text-warning">Your account doesn't have access to this page. To proceed,
                please login with an account that has access. or <a href="javascript:history.go(-1)">Go back</a></p>
            {% endif %}
        {% endif %}
        <form action="{% url 'login' %}" class="mb-5" method="POST">{% csrf_token %}
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="username" id="email" class="form-control {% if form.errors %}is-invalid{% endif %}" required>
                    <input type="password" name="password" id="password" value="1" hidden>
                    <div class="invalid-feedback">Please enter a valid email address!</div>
                </div>
                <button class="btn btn-primary col-md-4 btn-block my-auto mx-auto" type="submit" value="login">Submit</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
        <p class="h4">If you have not registered for testing. Please click here <a href="{% url 'register' %}"> to register.</a></p>
    </div>

{% endblock %}