{% extends 'gp/base.html' %}

{% block content %}

    <div class="container-fluid pl-5" id="home-section">
        <h2 class="">Create PassPoints Password</h2>
        <div class="text-info"><b class="text-white">Details:</b> PassPoints password is a graphical password schmeme that creates a password by clicking at least five click points on an image and re-clicking those points to login.</div>
        <h3 id="h3">Select your click points on the image.</h3>
            <div class="row mb-0">
                <img src="{{image.image.url}}" alt="" id="oldpp_image" class="" hidden>
                <canvas id="oldpp_canvas" class=""></canvas>
                <div class="mx-auto mt-5">
                    <h4 class="mb-5">Number of click points: <b id="cpNum" class="h1"></b></h4>
                    <!-- <p id="output"></p> -->
                    <h4 class="">Image selected: </h4>
                    <img src="{{image.image.url}}" alt="" id="thumbnail" class="img-thumbnail">
                    <div class="mt-3"><strong class="text-info">Instructions: </strong><ul class="fa-ul"><li><span class="fa-li"><i class="fa fa-check-square"></i></span>Please choose an image for creating your password.</li><li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Select a minimum of five click points on the image.</li></ul></div>
                    <form action="/create_passpoints2/" method="post" id="createpp">{% csrf_token %}
                    <input type="hidden" name="image" value="{{image.pk}}">
                    <input type="number" name="cpCount" id="cpCount" value="" hidden>
                    <input id="time_prev" size="6" readonly="" name="time_prev" value="{{time_prev}}" hidden/>
                    <input id="seconds-spent" size="6" readonly="" name="time"  hidden/>
                    </form>
                    <button type="submit" class="btn btn-lg btn-primary" id="submitButton" form="createpp" disabled onclick="checkdisable">Submit Password</button>
                    <a href="/"><button type="submit" class="btn btn-lg btn-danger" id="submitButton">Cancel</button></a>
                    <div class="text-danger" id="cpcheck_text">Password must contain a minimum of 5 click points.</div>
                </div>
            </div>
        </div>
    
        <script>
            var canvas;
            var context;
            //function initialized at page load.
            function init() {
                var image = document.getElementById('oldpp_image');
                canvas = document.getElementById('oldpp_canvas');
                context = canvas.getContext('2d');

                drawImage(image);
            }
            function drawImage(image) {
                canvas.width = image.width;
                canvas.height = image.height;

                context.drawImage(image, 0, 0);
            }
            function tolerancelevel(x, y) {
                var rectangle = new Path2D();
                rectangle.rect(x,y,15,15)
                context.fillStyle = 'orange';
                context.fill(rectangle);
            }
            // var image = "{{image}}";
            var cpCount = 0;
            // var cpArray = [];
            var r, g, b, a, x, y;
            function getclickPoint() {
                $('canvas').mousedown(function(e) {
                    var pixelData = canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;
                    var x = event.offsetX;
                    var y = event.offsetY;
                    var r = pixelData[0];
                    var g = pixelData[1];
                    var b = pixelData[2];
                    var a = pixelData[3];
                    // $('#output').html('R: ' + r + '<br>G: ' + g + '<br>B: ' + b + '<br>A: ' + a + '<br>X: ' + xPosition + '<br>Y: ' + yPosition);
                    cpCount++;
                    // cpArray.push(cpCount, r, g, b, a, xPosition, yPosition);
                    // $('#output').val('Array ' + cpArray.length + ': ' +cpArray[cpArray.length - 6]+ ', ' +cpArray[cpArray.length - 5] );
                    addInput(x, y, r, g, b, a, cpCount);
                    document.getElementById('cpNum').innerHTML = cpCount;
                    $('#cpCount').val(cpCount);
                    if (cpCount >= 5) {
                        $("#submitButton").removeAttr("disabled");
                        $("#cpcheck_text").addClass("d-none");
                    }
                    return x, y, r, g, b, a;
                });
                document.getElementById('cpNum').innerHTML = cpCount;

            }
            function addInput(x, y, r, g, b, a, cpCount) {
                inpArray = ['x', 'y', 'r', 'g', 'b', 'a', 'cp'];
                valArray = [x, y, r, g, b, a, cpCount]
                for (i=0; i<inpArray.length; i++){
                    var inp = document.createElement("input");
                    inp.setAttribute("type", "hidden");
                    inp.setAttribute("name", inpArray[i]+""+valArray[6]);
                    inp.setAttribute("value", valArray[i]);
                    $("#createpp").append(inp);
                }
            }
            // $(document).on('click', '#submitButton', function() {
            // function setcp() {
            //     // $.ajax({
            //     // url: '/create_passpoints2/',
            //     // type: 'POST',
            //     // data: {'cpCount': cpCount, 'cpArray': cpArray, 'image': image, 'operation': operation},
            //     // });
            //     $.post("/create_passoints2/",{cpCount: cpCount, cpArray: cpArray, image: image});
            // }
            // // });

            window.addEventListener('load', init);
            window.addEventListener('load', getclickPoint);
        </script>
        <script>
            (function(){"use strict";
    
            var secondsSpentElement = document.getElementById("seconds-spent");
            // var millisecondsSpentElement = document.getElementById("milliseconds-spent");
            // var minutesSpentElement = document.getElementById("minutes-spent");
    
            requestAnimationFrame(function updateTimeSpent(){
                var timeNow = performance.now();
                
                secondsSpentElement.value = round(timeNow/1000);
                // millisecondsSpentElement.value = round(timeNow);
                // minutesSpentElement.value = round(timeNow/60000);
    
                
                requestAnimationFrame(updateTimeSpent);
            });
            var performance = window.performance, round = Math.floor;
            })();
        </script>

{% endblock %}