{% extends 'gp/base.html' %}

{% block content %}
<div class="container-fluid pl-5" id="home-section">
    <h2 class="">New PassPoints Password Login</h2>
    <div class="text-info"><b class="text-white">Details:</b> The New PassPoints password is a graphical password schmeme that creates a password by choosing / uploading an image and slecting at least 5 click points on the image and optionally selecting other images with at least one click point on each. To login the user have to select their image and re-click the corresponding click points.</div>
    <h3>Select your password image.</h3>
    <form action="/test_new_passpoints/" method="POST" id="select_form">{% csrf_token %}

    <div class="row mb-0">
        <div class="m-5 shuffle" id="matrix">
            <img src="{{img.image.url}}" alt="" id="{{img.pk}}" class="password_image matrix_image">
            {% for image in images %}
            <img src="{{image.image.url}}" alt="" id="{{image.pk}}" class="password_image matrix_image">
            {% endfor %}
        </div>
        <div class="mx-auto mt-5">
            <h4 class="mb-5">Number of click points: <b id="cpNum"></b></h4>
            <h4 class="">Image selected: </h4>
            <img src="" alt="" class="rounded img-thumbnail" id="thumbnail">
            <div class="mt-3"><strong class="text-info">Instructions: </strong><ul class="fa-ul"><li><span class="fa-li"><i class="fa fa-check-square"></i></span>Select your password image.</li><li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Click your click points in the correct sequence.</li></ul><h1 class="p-4">Test period: {{test_period}} of 3</h1></div>
            <input type="text" name="image" id="image_id" hidden>
            <input id="time_prev" size="6" readonly="" name="time_prev" value="{{time_prev}}" hidden/>
            <input id="seconds-spent" size="6" readonly="" name="time"  hidden/>
            <input type="hidden" name="img_fin" value="{{img_fin}}">
            <button type="submit" class="btn btn-lg btn-primary" form="select_form">Submit</button>
        </div>
    </div>
    </form>
</div>
<script>
    $(function () {
        var parent = $(".shuffle");
        var divs = parent.children();
        while (divs.length) {
            parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
        }
    });
    $(document).ready(function(){
        $(".password_image").click(function(){
            // var temp = $(this).parent().attr('id');
            $("#image_id").val(this.id);
            // $("#category").val(temp);
            $("#thumbnail").attr("src", this.src);
        });
    });
</script>
<script>
    (function(){"use strict";

    var secondsSpentElement = document.getElementById("seconds-spent");
    // var millisecondsSpentElement = document.getElementById("milliseconds-spent");
    // var minutesSpentElement = document.getElementById("minutes-spent");

    requestAnimationFrame(function updateTimeSpent(){
        var timeNow = performance.now();
        
        secondsSpentElement.value = round(timeNow/1000);
        // millisecondsSpentElement.value = round(timeNow);
        // minutesSpentElement.value = round(timeNow/60000);

        
        requestAnimationFrame(updateTimeSpent);
    });
    var performance = window.performance, round = Math.floor;
    })();
</script>
{% endblock %}

