{% extends 'gp/base.html' %}

{% block content %}

    <div class="container" id="home-section">
        <h2 class="mb-5">Alphanumeric Password Login</h2>
        <div class="row">
        <form action="/test_alphanumeric/" class="col-md-6" method="POST">{% csrf_token %}
            {% if is_invalid %}<div class="text-danger">Your email and/ or password didn't match. Please try again.</div>{% endif %}
            <div class="form-group">
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="" class="form-control" required>
                </div>
            </div>
            <input id="time_prev" size="6" readonly="" name="time_prev" value="{{time_prev}}" hidden/>
            <input id="seconds-spent" size="6" readonly="" name="time"  hidden/>
            <button type="submit" class="btn-lg btn-primary">Submit</button>
        </form>
        <div class="col-md-6 p-3"><strong class="text-info">Instructions: </strong><p>Please enter your email address and password to see if its correct.</p><h1 class="p-4">Test period: {{test_period}}</h1></div>
        </div>
    </div>
    <script>
        (function(){"use strict";

        var secondsSpentElement = document.getElementById("seconds-spent");
        // var millisecondsSpentElement = document.getElementById("milliseconds-spent");
        // var minutesSpentElement = document.getElementById("minutes-spent");

        requestAnimationFrame(function updateTimeSpent(){
            var timeNow = performance.now();
            
            secondsSpentElement.value = round(timeNow/1000);
            // millisecondsSpentElement.value = round(timeNow);
            // minutesSpentElement.value = round(timeNow/60000);

            
            requestAnimationFrame(updateTimeSpent);
        });
        var performance = window.performance, round = Math.floor;
        })();
    </script>
{% endblock %}